<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="decription" content="">
    <meta name="author" content="">

    <title> <%= title %> </title>

    <!-- Latest compiled and minified CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/social-buttons.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">

    <!-- Custom fonts -->
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300itaic,400italic,600italic,700italic,300,400,600,700,800" 
          rel="stylesheet" type="text/css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" />

  </head>

  <body>
    <img id="beta-banner" src="img/beta.png">
    <!-- Wrap all page content here -->
    <div id="wrap">
      <!-- Fixed navbar -->
      <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:rgba(0,0,0,0.7)">
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img id="logo" src="img/logo-orange.png">
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
              <li <%if (page === "home") {%> class="active" <%}%>><a href="/">Home</a></li>
              <li <%if (page === "contact") {%> class="active" <%}%>><a href="#">Contact</a></li>
              <li <%if (page === "donations") {%> class="active" <%}%>><a href="/donations">Supporters</a></li>
            </ul>
            <a href="/login"><button id="login-btn" type="button" class="btn btn-primary">Log In</button></a>
            <a href="#"><button id="signup-btn" type="button" class="btn btn-warning">Sign Up</button></a>
          </div><!--/.nav-collapse -->
        </div>
      </div>
