<% include header.html %>
<!-- Begin page content -->
<div class="container">
  <div class="col-8">
    <div class="jumbotron">
      <h1>Login with Facebook</h1>
      <p>Please click the following button to login with Facebook and continue your
      journey to Paleo nirvana.</p>
      <a href="/auth/facebook"><button id="login-btn" type="button" class="btn btn-primary">
          <i class="icon-facebook-sign"></i>  Login with Facebook</button>
      </a>
    </div>
  </div>
  <div class="col-4"></div>
</div>
<% include footer.html %>
